body{
   font: 14px sans-serif;
   text-align: center;
  }

  /**Gallery**/
  .gallery-links h2{
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: deepskyblue;
    text-transform: uppercase;
  }

/*disgn for the img container*/
  .gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 5px;
  }

  .gallery-container a {
    width: 230px;
    margin: 20px 10px 0;
  }

  .gallery-container a:hover{
    opacity: 0.8;
  }

  .gallery-container a div{
    width: 100%;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallery-conatiner a  h3{
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 700;
    color: deepskyblue;
  }

  .gallery-upload{
   width: 80%;
   margin: 20px auto;
   border: 2px solid deepskyblue;
   margin-top: 50px;
  }
  form{
   width: 50%;
   margin: 20px auto;
   margin-bottom: 35px;
  }
  form div{
   margin-top: 5px;
   margin-bottom: 35px;
  }
  button{
    background-color: deepskyblue;
    padding: 10px 22px;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    border: none;
    margin: 2px;
    opacity: 0.8;
    border-radius: 15px 10px;
    cursor: pointer;
  }

/** Camera styling**/
#results {
   padding:20px;
   border:1px solid;
   background:#ccc;
 }

 /*button in the gallery*/
 .btn btn-default btn-sm{
   background-color: deepskyblue;
   padding: 15px 22px;
   display: inline-block;
   font-size: 12px;
   text-decoration: none;
   text-align: center;
   border: none;
   margin: 2px;
   opacity: 0.8;
   border-radius: 15px 10px;
   cursor: pointer;
 }

 /*comment section*/

textarea{
  width: 400px;
  height: 80px;
  background-color: white;
  resize: none;
}

/*footer*/

.footer{
  position: fixed;
  background-color: deepskyblue;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  margin-top: 35px auto;
}

/*nav-bar*/

.topnav{
  background-color: deepskyblue;
  color: white;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: purple;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.Gallery{
display:grid;
margin: 3px;
float:left;
flex-direction: row;
margin-bottom: 35px;
}

/*verify*/

.verify{
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
   color: blue;
}

/*like*/

.posts-wrapper {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #eee;
}
.post {
  width: 90%;
  margin: 20px auto;
  padding: 10px 5px 0px 5px;
  border: 1px solid green;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(180deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
i {
  color: blue;
}

/*change button click*/
.active {
  background-color: green !important;
}
